.layout{
display: flex;
min-height: 100vh;

}

.sidebar{
    padding: 30px;
border-right: 1px solid var(--separator-color);
display: flex;
flex-direction: column;
}

.exit{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.link, .active{
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: var(--text-color);
}

.active {
    color: red;
}



.user{
    margin-bottom: 46px;
}

.name{
    font-size: 20px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    color: var(--text-color)
}

.email{
    font-family: 0pen Sans;
    font-size: 14px;
    font-style: normal;
font-weight: 400;
line-height: normal;
color: #9ea1b1;
}

.content{
    padding: 40px 60px;
    width: 100%;
}